.container{
    width: 100%;
    /* min-height: 100vh; */
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(50, 73, 97)
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(104, 134, 158)
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(134, 171, 201);
  }