* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	/* height: 100vh; */
	overflow: visible;
}

.navbar {
	background-color: #567086;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	/* position: fixed; */
	padding: 0 109px;
	color: #fff;
	z-index: 200;
	/* width: 100%; */
}
.logo {
	position: absolute;
	left: 10%;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
}

.logo h3 {
	color: #fff;
	cursor: pointer;
}
.menuItems {
	position: absolute;
	display: flex;
	padding-left: 40px;
	right: 40%;
}

.mainDiv:active {
	color: #f5a623;
}

.menuItems i {
	display: flex;
	justify-content: center;
	height: 100%;
	font-size: 23px;
}

.menuItems i {
	margin-top: -10px;
}

.menuItems li {
	margin-left: 50px;
}

.menuItems a {
	color: #fff;
}

/* .menuItems li a:hover {
	color: #f5a623;
} */

.logout {
	position: absolute;
	left: 70%;
	padding: 0 15px;
	font-size: 90%;
}

.logout a {
	color: #fff;
}

.logout a:hover {
	color: #f5a623;
}

.iconbars {
	position: absolute;
	right: 30px;
	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 2px;
	border-color: #708da8;
	padding: 10px 15px;
	border-radius: 0;
	border: 1px solid transparent;
	margin-right: 0 !important;
	background-color: transparent;
	cursor: pointer;
	display: none;
}

.iconbars i {
	font-size: 20px;
}

.iconbars:hover {
	border-color: #f5a623;
	color: #f5a623;
}

@media (max-width: 1125px) {
	.navbar {
		background-color: #567086;
		/* height: 80px; */
		display: flex;
		align-items: center;
		/* padding: 0 50px; */
		width: 100%;
	}

	.menuItems {
		opacity: 0;
		visibility: hidden;
	}
	.logo {
		cursor: pointer;
	}

	.logout {
		opacity: 0;
		visibility: hidden;
	}

	.iconbars {
		display: block;
	}
}

@media (max-width: 910px) {
	.navbar {
		background-color: #567086;
		/* height: 70px; */
		display: flex;
		width: 100%;

		align-items: center;
		padding: 0 109px;
		/* padding: 0 80px; */
	}

	/* .logo {
		padding: 0 15px;
		font-size: 0.8rem;
	} */
}

@media (max-width: 768px) {
	.navbar {
		background-color: #567086;
		/* height: 60px; */
		display: flex;
		align-items: center;
		padding: 0 109px;
		width: 100%;
		/* padding: 0 80px; */
	}

	/* .logo {
		padding: 0 15px;
		font-size: 0.9rem;
    } */
	.menuItems {
		left: 30%;
	}
}

@media (max-width: 600px) {
	.navbar {
		background-color: #567086;
		height: 70px;
		display: flex;
		align-items: center;
		/* padding: 0 80px; */
		width: 100%;
		padding: 0 109px;
	}

	.logo {
		/* padding: 0 15px; */
		font-size: 1rem;
		margin-left: 7px;
	}

	.menuItems li a {
		padding-left: 20%;
		font-size: 0.9rem;
	}
	.logout {
		right: 80%;
	}

	.iconbars {
		padding: 7px 12px;
	}

	.iconbars i {
		font-size: 19px;
	}
}

@media (max-width: 412px) {
	.logo h3 {
		cursor: pointer;
	}
}
