.add-page {
	margin: 0;
	color: #fff;
	background-color: #4e657a;
}
.add-container {
	margin: 4% 23%;

	background-color: #435c70;
}
.add-container h2 {
	font-size: 1.1rem;
	font-weight: 700;
	margin-bottom: 30px;
	margin-left: 40px;
	padding-top: 40px;
}
.sections-con {
	margin: 40px;
	display: flex;
}
.detail-section {
	width: 50%;
}
.proName input {
	background-color: #54657d;
	color: #fff;
	border: 0;
	height: 50px;
	padding: 19px 18px;
	margin: 10px 0;
}

.select-cat {
	padding: 19px 18px;
	border-radius: 0;
	height: 15px;
	background-color: #54657d;
	color: #fff;
	border: 0;
	display: block;
	width: 185px;
	margin-top: 10px;
	margin-right: 25px;
	margin-bottom: 20px;
	font-family: 'Bree Serif', serif;
}

.unitsold-con > input {
	font-size: 1.1rem;
	padding: 19px 18px;
	border-radius: 0;
	height: 15px;
	background-color: #54657d;
	color: #fff;
	border: 0;
	display: block;
	width: 285px;
	margin-top: 10px;
	margin-right: 25px;
	margin-bottom: 20px;
	height: 100px;
	font-family: 'Bree Serif', serif;
}
#name,
.select-cat,
textarea {
	width: 88%;
}

.inputs-con input {
	background-color: #54657d;
	color: #fff;
	width: 150px;
	padding: 15px 10px;
	border: 1px solid transparent;
	margin: 10px 0;
}

input[type="number"] {
	height: 52px;
}
.select-cat {
	width: 88%;
	height: 50px;
	color: #acc6de;
	font-size: 17px;
	padding: 14px 20px;
}
textarea {
	height: 100px;
}
/* .unitsold-con{
	display: flex;
	box-sizing: border-box;
} */
.inputs-con {
	display: flex;
	box-sizing: border-box;
}
input[type="date"] {
	padding: 2 -20px;

	display: inline-block;
	justify-content: space-evenly;
}
.img-section {
	width: 50%;
}
.upload-img {
	background-color: #aaa;
	width: 89%;
	height: 50%;
	margin-left: 30px;
}
.img-section i {
	padding: 15px;
	margin-left: 39%;
	margin-top: 30%;
	border-radius: 50%;
	font-size: 20px;
	background: #455c71;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
	cursor: pointer !important;
}

.btn {
	padding: 15px 15px;
	font-size: 20px;
	font-weight: bold;
	width: 280px;
	height: 50px;
	margin: 0 30px;
	margin-top: 39px;
	/* margin-bottom: -100px; */
	color: #fff;
	background-color: #f5a623;
	border: 2px solid #f5a623;
	font-size: 90%;
	font-weight: 600;
	cursor: pointer !important;
}

.upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	cursor: pointer !important;
}

.btn:hover {
	background-color: transparent;
	color: #f5a623;
}

.add-pdt-btn {
	margin-left: 0px;
	margin-right: 40px;
	width: 197%;
	padding: 16px 20px;
	margin-top: 40px;
	background-color: #f5a623;
	color: #fff;
	border: 2px solid #f5a623;
	font-size: 90%;
	font-weight: 600;
}

.add-pdt-btn:hover {
	background-color: #435c70;
	color: #f5a623;
	cursor: pointer;
}

@media (max-width: 411px) {
	.add-container {
		width: 80%;
	}
	.add-container h2 {
		font-size: 1.1rem;
		font-weight: 700;
		margin-bottom: 30px;
		margin-left: 40px;
		padding-top: 40px;
	}
	.sections-con {
		margin: 40px;
		display: block;
	}
	.detail-section {
		width: 50%;
	}
	.proName input {
		background-color: #54657d;
		color: #fff;
		border: 0;
		height: 50px;
		padding: 19px 18px;
		margin: 10px 0;
	}
	textarea,
	.select-cat {
		padding: 19px 18px;
		border-radius: 0;
		border: 0;
		display: block;
		width: 185px;
		margin-top: 10px;
		margin-right: 25px;
		margin-bottom: 20px;
		font-family: 'Bree Serif', serif;
	}
	#name,
	.select-cat,
	textarea {
		width: 250px;
	}

	.select-cat {
		height: 64px;
	}

	.detail-section {
		/* width: 50%; */
		display: block;
	}

	.inputs-con {
		display: block;
	}
	.inputs-con input {
		width: 250px;
		padding: 15px 10px;
		border: 1px solid transparent;
		margin: 10px 0;
	}
	.add-pdt-btn {
		width: 150%;
		max-width: 250px;
		/* margin-top: 111px; */
	}

	input[type="number"] {
		height: 52px;
	}
	.upload-img {
		width: 251px;
		margin-left: 30px;
		display: block;
		margin: auto;
	}

	.btn {
		width: 330%;
		max-width: 250px;
		margin: 16px 0;
	}
}

@media (max-width: 1125px) {
	.add-container {
		margin: auto;
		display: block;
		width: 80%;
		margin: 4% auto;
	}
	.add-pdt-btn {
		width: 712px;
		margin-top: 10px;
	}
	.btn {
		padding: 15px 15px;
		/* font-size: 20px; */
		font-weight: bold;
		width: 275px;
		height: 50px;
		margin-top: 16px 16px;

		/* margin-top: 16px; */
	}
	.img-section {
		width: 38%;
	}
}
