.notification {
	display: flex;
	flex-direction: row;
	height: 73px;
	width: 100%;
	background-color: #4e657a;
	color: #fff;
	font-size: 95%;
	margin-bottom: 15px;
}
.message {
	padding-top: 0;
	margin: 10px 0;
	font-size: 95%;
}
.noti-images {
	width: 80px;
	height: 75px;
	background-color: #aaa;
	border-radius: 50%;
	margin-right: 15px;
}
.time {
	color: #bdcbd8;
}

@media (max-width: 955px) {
	.notification {
		height: 130px;
	}
	.noti-images {
		width: 140px;
		height: 130px;
		background-color: #aaa;
		border-radius: 50%;
		margin-right: 49px;
	}
	.message {
		padding-top: 0;
		margin: 40px 0;
	}
}

@media (max-width: 768px) {
	.notification {
		height: 130px;
	}
	.noti-images {
		width: 140px;
		height: 130px;
		background-color: #aaa;
		border-radius: 50%;
		margin-right: 49px;
	}
	.message {
		padding-top: 0;
		margin: 40px 0;
	}
}

@media (max-width: 411px) {
	.notification {
		height: 175px;
		width: 100%;

		font-size: 20px;
		/* margin-bottom: 15px; */
	}
	.message {
		padding-top: 0;
		margin: 1px 0;
	}
	.noti-images {
		width: 120px;
		height: 125px;
		background-color: #aaa;
		border-radius: 50%;
		margin-right: 15px;
	}
}
